@page
@model WebApplication1.Views.Info.Info

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Contact info</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<ul class="info-container">
    <li class="info-item">
        <img class="info-img" src="https://www.freeiconspng.com/uploads/head-icon-png-5.png"/>
        <p class="info-name">Name</p>
        <p class="info-surname">Surname</p>
        <p class="info-phone">Phone</p>
        <p class="info-email">Email</p>
    </li>

</ul>
</body>
</html>